html{
background-color: #4C9DF6;}


















body{background-color: red;
color:white;
font-family: 'Arial', 'Ubunta', 'Lucida Grande', 'sans-serif';
width: 70%;
height: 100%;
margin: auto;
grid-template-columns: 1fr 4fr;
overflow-x: hidden;
text-align: center;
font-size: 16px;






}


















header{
background-color: transparent;
position: relative;
padding: 50px;
margin: 0;
grid-column: 1/3;
font-weight: bolder;
}




bottom{color:white; text-align: center;
font-family: 'Arial', 'Ubunta', 'Lucida Grande', 'sans-serif';
font-size: 16px;
position:fixed;
top:83%;
left:0;
right:0;
bottom:1;
width:50%;
height:155px;
z-index:1;
padding:0px;
border: #000000 2px soid;
background-color:transparent;
grid-template-columns: 1fr 4fr;
margin: auto;}


footer{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 40px;
z-index: 1;
padding: 0px;
border: #000000 2px soid;
background-color: black;
background-image: url("");
text-align: center;
font-family: Arial;

}








nav{
background-color: black;
padding: 0px;
margin 0;
width:100%;
height:175px;
position:absolute;
top:0;
left:0;
z-index:1;
text-align: center;
    align-items: center;
    align-content: center;
}
.error{
  color: white;
    font-size: 14px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

nav img {
    width: 5%;
}



#leftcontent{
position:absolute;
top:49.5%;
left:33%;
width:500px;
height:240px;
z-index:1;
padding:0px;
border: #000000 2px soid;
background-color:#000000;
background-image:url("");}










nav ul{
list-style-type: none;
}








nav ul li{
padding 3px;
    align-content: center;
}








a{
color: white;
text-decoration: none;
font-weight: bold;
font-size: 40px;
font-family: Arial;
}
a:hover{
color: red;
}








main{
padding 5px;
text-align: center;
}












table{
    height: 575px;
border: 2px solid powderblue;
width: 100%;
border-collapse: collapse;
}








th, td {
border: 1px solid powderblue;
padding 5px;
}


.tablehead {
    color: black;
    background-color: white;
}

.tablehead a {
    color: black;
    text-decoration: none;
        font-size: 16px;
}

.tablehead a:hover {
    color: red;
}





th {
color: black;
background-color: white;
}








form{
border:1px solid #ffffff
padding:5px;
margin: 5px;
}








html{background-image: url("https://images4.alphacoders.com/677/677041.jpg"); background-size:contain;
background-repeat:no-repeat;background-size:cover; margin: 0;
padding: 0;}













